@model EasyBusProject.ViewModels.CheckBoxViewModel

@{
    ViewData["Title"] = "TicketsView";
}

<style>
    .card {
        margin: 20px;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var item in ViewBag.Seats)
        {
            <div class="col-12 col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ticket</h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>
        }


    </div>
</div>