
@{
    ViewData["Title"] = "Home Page";
    var stations = ViewBag.Stations;
}

<style>
    .bg {
        background-image: url('images/333.jpg');
        background-size: cover;
        height: 350px;
        width: 99.9vw;
    }
    select {
        width: 200px !important;
        display: inline !important;
    }
    .icon {
        display: inline !important;
        margin-left: 10px;
    }
    .date {
        height: 40px;
        border-radius: 5px;
    }

    .accordion-button:not(.collapsed) {
        color: black;
        background-color: #FEC91B;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
    }

    .accordion-button:focus {
        z-index: 3;
        border-color: lightgray;
        outline: 0;
        box-shadow: none;
    }
    a {
        text-decoration:none;
    }

</style>

    








<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ROYAL CARS - Car Rental HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <style>
        .text-primary {
            color: #FEC91B !important;
        }
        .selectdropoff{
            /*  background-color:#FEC91B; */
             
        }
        .bbtn{
            color:black;
        }

    </style>
</head>

<body>
    <div class="row bg justify-content-center align-items-center text-center">
        <h2 style="color:white;font-weight:bolder;margin-top:90px">Book Your Ticket</h2>
        <br />
        <br />

        <form action="/AvailableTrip/index" method="post" class="mb-5">
            <select required class="form-select" aria-label="Default select example" name="pickUp">
                <option selected>From</option>
                @foreach (var item in stations)
                {
                    <option value=@item.Id>@item.Name</option>
                }
            </select>

            <select  class="form-select  selectdropoff" aria-label="Default select example" name="dropOff">
                <option selected>To</option>
                @foreach (var item in stations)
                {
                    <option value=@item.Id>@item.Name</option>
                }
            </select>

            <input  class="date" type="date" id="date" name="date"/>

            <input type="submit" value="Find Trips" class="btn bbtn" style="background-color:#FEC91B;margin-bottom:3px" />
        </form>

    </div>

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Welcome To <span class="text-primary">Bus Trip</span></h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <p>If you're looking for the best bus deals when traveling, Bus Trip has you covered! You can find offers from thousands of bus companies and millions of bus routes in the United States and abroad. Then, you can compare arrival and departure times, pick-up and drop-off points, travel duration, and of course the best bus ticket prices.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px; background-color:#FEC91B !important">
                            <i class="fa fa-2x fa-headset text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">24/7 Bus Booking Support</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px; background-color:#FEC91B !important">
                            <i class="fa fa-2x fa-bus text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">Bus Booking Anytime</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px; background-color:#FEC91B !important">
                            <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">Lots Of Pickup Locations</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row mt-5">
            <div class="col">
                <h3 class="mb-4">How to Find Cheap Bus Tickets</h3>

                <p>If you're looking for the best bus deals when traveling, Bus Trip has you covered! You can find offers from thousands of bus companies and millions of bus routes in the United States and abroad. Then, you can compare arrival and departure times, pick-up and drop-off points, travel duration, and of course the best bus ticket prices.</p>

                <p>To make your search even easier, you can customize everything to your needs. Optimize your results by sorting them by price, departure and arrival time and/or filter by stop or bus company. Once you find the perfect bus trip, all you need to do is select it and book on our partner's page!</p>
            </div>
        </div>

        <div class="row mt-5 mb-4">
            <div class="col-12 col-md-3">
                <img class="icon" src="~/Images/1.webp" />
                <p class="icon" style="font-weight:bolder">Worldwide Connections</p>
            </div>

            <div class="col-12 col-md-3">
                <img class="icon" src="~/Images/2.webp" />
                <p class="icon" style="font-weight:bolder">Over 100 cities</p>
            </div>

            <div class="col-12 col-md-3">
                <img class="icon" src="~/Images/3.webp" />
                <p class="icon" style="font-weight:bolder">Over 2,000 bus stations</p>
            </div>

            <div class="col-12 col-md-3">
                <img class="icon" src="~/Images/4.webp" />
                <p class="icon" style="font-weight:bolder">Hundreds of bus routes</p>
            </div>
        </div>

        <div class="row mt-5">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/B1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/B2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/B3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        
    </div>


    <!-- About End -->
    @* <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Our Services</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-taxi text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">01</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Car Rental</h4>
                        <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item active d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-money-check-alt text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">02</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Car Financing</h4>
                        <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-car text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">03</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Car Inspection</h4>
                        <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-cogs text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">04</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Auto Repairing</h4>
                        <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-spray-can text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">05</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Auto Painting</h4>
                        <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                                <i class="fa fa-2x fa-pump-soap text-secondary"></i>
                            </div>
                            <h1 class="display-2 text-white mt-n2 m-0">06</h1>
                        </div>
                        <h4 class="text-uppercase mb-3">Auto Cleaning</h4>
                        <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End --> *@
    <!-- Banner Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="bg-banner py-5 px-4 text-center">
                <div class="py-5">
                    <h1 class="display-1 text-uppercase text-primary mb-4">50% OFF</h1>
                    <h1 class="text-uppercase text-light mb-4">Special Offer For New Members</h1>
                    <p class="mb-4">Only for Sunday from 1st Jan to 30th Jan 2045</p>
                    <a style=" background-color:#FEC91B !important" class="btn btn-primary mt-2 py-3 px-5" href="/account/register">Register Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <div class="container-fluid">

        <html>
        <head>
            <link rel="stylesheet"
                  type="text/css"
                  href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css" />
            <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>
        </head>
        <body>

            <h1 class="display-4 text-uppercase text-center mb-5">Our Locations</h1>


            <div class="d-flex justify-content-center text-center mb-5">
                <div id="map" style="width: 700px; height: 500px;"></div>
            </div>


            <script>

                let center = [30.0444, 31.2357];
                let cairo = [31.2444, 30.0357];
                let fayoum = [30.842850, 29.308402];
                let damietta = [31.814443, 31.417539];
                let portsaid = [32.314443, 31.217539];
                let giza = [31.1444, 30.0357];
                let behera = [30.4744, 31.0357];


                var map = tt.map({
                    key: "6G0VZ9CO43xenzBaAAHF6yz2U7ppNsva",
                    container: "map",
                    center: cairo,
                    zoom: 6
                })
                map.on('load', () => {
                    new tt.Marker().setLngLat(center).addTo(map),
                        new tt.Marker().setLngLat(cairo).addTo(map),
                        new tt.Marker().setLngLat(fayoum).addTo(map),
                        new tt.Marker().setLngLat(damietta).addTo(map),
                        new tt.Marker().setLngLat(portsaid).addTo(map),
                        new tt.Marker().setLngLat(giza).addTo(map),
                        new tt.Marker().setLngLat(behera).addTo(map)

                })
            </script>
        </body>
    </html>
</div>

 
    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="display-4 text-uppercase text-center mb-5">Our Client's Say</h1>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="img/testimonial-1.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Tim John</h4>
                    <i class="mb-2">Civil Engineer</i>
                    <p class="m-0">Really smooth and easy to use</p>
                </div>
                <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="img/testimonial-2.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Sara Timothy</h4>
                    <i class="mb-2">Artist</i>
                    <p class="m-0">Fast and respectable service</p>
                </div>
                <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="img/testimonial-3.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">John Smith</h4>
                    <i class="mb-2">Doctor</i>
                    <p class="m-0">Really smooth and easy to use</p>
                </div>
                <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <img class="img-fluid ml-n4" src="img/testimonial-4.jpg" alt="">
                        <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                    </div>
                    <h4 class="text-uppercase mb-2">Jayden Mark</h4>
                    <i class="mb-2">Nurse</i>
                    <p class="m-0">Fast and respectable service</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Contact Start -->
    <div class="container-fluid py-5" id="contactus">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Contact Us</h1>
            <div class="row">
                <div class="col-lg-7 mb-2">
                    <div class="contact-form bg-light mb-4" style="padding: 30px;">
                        <form action="/Home/ContactUs" method="post">
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="text" class="form-control p-4" name="Name" placeholder="Your Name" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="email" class="form-control p-4" name="Email" placeholder="Your Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control p-4" name="Subject" placeholder="Subject" required="required">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control py-3 px-4" name="Message" rows="5" placeholder="Message" required="required"></textarea>
                            </div>
                            <div>
                                <button style="background-color:#FEC91B !important" class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-2">
                    <div class="bg-secondary d-flex flex-column justify-content-center px-5 mb-4" style="height: 435px;">
                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h5 class="text-light">Head Office</h5>
                                <p>123 Street, New York, USA</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h5 class="text-light">Branch Office</h5>
                                <p>123 Street, New York, USA</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h5 class="text-light">Customer Service</h5>
                                <p>customer@example.com</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h5 class="text-light">Return & Refund</h5>
                                <p class="m-0">refund@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @* ABOUT US *@
            <div class="container-fluid py-5" id="aboutus">
                <div class="container py-5">
                    <h1 class="display-4 text-uppercase text-center mb-5">About Us</h1>
                    <div class="owl-carousel testimonial-carousel">

                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <h4 class="text-uppercase mb-2">Mohamed Ali</h4>
                        </div>

                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <h4 class="text-uppercase mb-2">Fady Yousry</h4>
                        </div>

                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <h4 class="text-uppercase mb-2">Mina Bahgat</h4>
                        </div>

                        <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                            <h4 class="text-uppercase mb-2">Islam Mohamed</h4>
                        </div>

                        <div class="testimonial-item d-flex flex-column justify-content-center px-5">
                            <h4 class="text-uppercase mb-2">Kirollos Magdy</h4>
                        </div>

                    </div>
                </div>
            </div>
            @* ABOUT US END *@

            <div class="row mt-5">
                <div class="col">
                    <h1 class="display-4 text-uppercase text-center mb-5">FAQs</h1>
                    <div class="accordion mb-4" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How can I find cheap bus tickets?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>You can find the cheapest bus tickets with CheckMyBus to search from thousands of bus companies in just one place. Whether you're looking for American or international bus deals, all you have to do is enter your departure point and destination as well as your travel date, and our search engine will show you all available bus routes. What's more, you can optimize everything to your specific travel needs for the perfect bus trip. Sort your results by price or departure/arrival time and filter them by company or bus stop.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How can I book a bus ticket?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>When you click on a bus trip you'd like to book, you'll be redirected to the company's website to book and purchase your ticket. Then, the bus company will send you your valid ticket and everything related to your booking by e-mail.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Which bus companies in the USA are the most important?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Greyhound, FlixBus and megabus US offer bus routes across the United States. Jefferson Lines, Peter Pan Bus Lines, Trailways and OurBus offer more regional connections and airport shuttles. Here you can get a list of all bus companies in the USA and abroad.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What services are provided by buses?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Different bus companies offer different onboard services and amenities. These could include free WiFi, extra legroom, or snacks and drinks. If you'd like to know what services a certain bus company offers, then you can check out the specific provider page at CheckMyBus. Here you can find a list of all bus companies.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Why should I travel by bus?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Bus travel has come a long way in recent years. Intercity bus trips aren't only affordable but also very comfortable thanks to onboard services and amenities. With free WiFi, you can use your trip to get work done or keep yourself entertained along the way. Comfortable seats and added legroom help you feel right at home for the duration of your journey. Furthermore, bus travel is also far more eco-friendly than driving private cars and helps reduce heavy traffic. The Government Initiative Act On CO2 calculated that buses are the mode of transportation with the lowest emissions at only 4.8 kg of CO2 per passenger. No matter if you're a student, tourist or commuter, bus transportation can help you save both the environment and your money!</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    How can I find buses abroad?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>If you're traveling outside of the United States, CheckMyBus can help you find offers from thousands of bus providers in more than 80 countries to over 100,000 cities. You can search for buses overseas in your native language to make planning your bus trip as convenient as possible.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Which is the most eco-friendly way to travel?
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Buses are a highly environmentally friendly mode of transportation. Calculations from the the Government Initiative Act On CO2 say that the bus is the method of transportation with the lowest emissions at only 4.8 kg of CO2 per passenger. Therefore, you are actually helping the environment when you take a bus instead of driving a car.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    What are the advantages of buses over trains or cars?
                                </button>
                            </h2>
                            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Traveling by bus is the cheapest mode of transportation in the United States. Due to competing bus companies, like FlixBus and megabus, it can be easy to find cheap bus tickets for long distances. Meanwhile, fuel prices for private cars are often increasing. The American bus network is also cheaper and more comprehensive than its railways.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>


<script>
    var today = new Date();
    var maxDate = new Date(today);
    maxDate.setDate(today.getDate() + 10);

    var maxDateString = maxDate.toISOString().split('T')[0];

    document.getElementById("date").setAttribute("min", today.toISOString().split('T')[0]);
    document.getElementById("date").setAttribute("max", maxDateString);
</script>
