
@{
    ViewData["Title"] = "ThankYou";
}

<div class="container">
    <div class="row mt-5">
        <div class=" text-center">
            <img src="~/Images/2074297.png" style="width:150px" />
            <h1 class="mt-5"><b>Thank You</b></h1>
            <br />
            <h5>Your Message Has Been Sent</h5>
            <a asp-controller="Home" asp-action="Index">Go Back to Homepage</a>
        </div>
    </div>
</div>

